 <!-- Start Newsletter Area -->
        <div class="newsletter-area">
            <div class="container">
                <div class="newsletter-from">
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="newsletter-text">
                                <h2>Subscribe To Our Newsletter</h2>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="subscribe-form">
                                <form id="frmNewsletter" method="post" class="newsletter-form" data-toggle="validator">
                                    <input type="email" class="form-control" placeholder="Enter your email or your password" name="EMAIL" required autocomplete="off">
                        
                                    <button class="default-btn" type="submit">
                                        Subscribe Now<i class="ri-arrow-right-line"></i>  
                                    </button>
                        
                                    <div id="validator-newsletter" class="form-result"></div>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <!-- End Newsletter Area -->