@model SigninCommand
@{
    ViewData["Title"] = "Signin";
}

<div class="my-account-area pt-100 pb-70">
            <div class="container">
                <div class="my-account-content log-in-form">
                    <h2>Log In</h2>
                    <p>Welcome back login to your account</p>
                    <form method="post" autocomplete="off">
                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="my-account-form">
                                    <div class="from-group">
                                        <input asp-for="UserName" type="email" class="form-control" id="username" placeholder="Your email address">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="my-account-form">
                                    <div class="from-group">
                                        <input asp-for="Password" type="password" class="form-control" id="password" placeholder="Your password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="account-list">
                                    <ul>
                                        <li><p>Lost your<a asp-action="register">Register?</a></p></li>
                                    </ul>
                            </div>
                        </div>
                        <button type="submit" class="default-btn">Log In<i class="ri-arrow-right-line"></i></button>
                    </form>
                </div>
            </div>
        </div>


<environment include="Development">
    <script>
        document.getElementById('username').value = "elgunbayramov223@gmail.com";
        document.getElementById('password').value = "Elgun@@77";

        </script>
</environment>
