<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">Navigation</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a asp-controller="home" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-menu"></i></span>
                    <span class="pcoded-mtext">Ana Səhifə</span>
                </a>
            </li>
            <li class="pcoded-hasmenu active pcoded-trigger">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                    <span class="pcoded-mtext">Menyu</span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a asp-controller="Category" asp-action="index">
                            <span class="pcoded-mtext">Kategoriyalar</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Leagues" asp-action="index">
                            <span class="pcoded-mtext">Fikstürlər</span>
                            <span class="pcoded-badge label label-info">NEW</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Trophies" asp-action="index">
                            <span class="pcoded-mtext">Kuboklar</span>
                            <span class="pcoded-badge label label-info">NEW</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Contacts" asp-action="index">
                            <span class="pcoded-mtext">Kontaktlar</span>
                        </a>
                    </li>
@*                    <li>
                        <a asp-controller="Experience" asp-action="index">
                            <span class="pcoded-mtext">Experiences</span>
                            <span class="pcoded-badge label label-info">NEW</span>
                        </a>
                    </li>*@
                    <li>
                        <a asp-controller="Brands" asp-action="index">
                            <span class="pcoded-mtext">Markalar</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ProductColors" asp-action="index">
                            <span class="pcoded-mtext">Rənglər</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ProductSizes" asp-action="index">
                            <span class="pcoded-mtext">Ölçülər</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="User" asp-action="index">
                            <span class="pcoded-mtext">Istifadəçilər</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="pcoded-hasmenu active pcoded-trigger">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="feather icon-monitor"></i></span>
                    <span class="pcoded-mtext">Paylaşımlar</span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a asp-controller="Blogposts" asp-action="index">
                            <span class="pcoded-mtext">Hamısı</span>
                        </a>
                    </li>

                </ul>
            <li class="">
                <a asp-controller="faqs" asp-action="index">
                    <span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
                    <span class="pcoded-mtext">Tez-tez verilən suallar</span>
                </a>
            </li>
                @* <li class="">
                    <a href="http://html.codedthemes.com/Adminty/doc" target="_blank">
                    <span class="pcoded-micon"><i class="feather icon-monitor"></i></span>
                    <span class="pcoded-mtext">Documentation</span>
                    </a>
                    </li>
                    <li class="">
                    <a href="#" target="_blank">
                    <span class="pcoded-micon"><i class="feather icon-help-circle"></i></span>
                    <span class="pcoded-mtext">Submit Issue</span>
                    </a>
                    </li>*@
        </ul>
    </div>
</nav>