@model Product
@{
    ViewData["Title"] = "Details";
}

        <!-- Start Page Banner Area-->
        <div class="page-banner-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-6">
                        <div class="single-page-banner-content">
                            <h1>Single Products</h1>
                            <p><a asp-controller="Home" asp-action="Index">Home</a>Single Products</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="page-banner-img" data-aos="fade-up-left" data-aos-duration="3000" data-aos-once="true">
                            <img src="~/assets/images/page-banner/page-banner-image-1.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area-->

        <!-- Start Shop product Area -->
        <div class="shop-product-area pt-100">
            <div class="container">
                <div class="row align-items-center"> 
                    <div class="col-lg-6">
                        <div class="single-shop-product">
                            <img src="/uploads/images/@Model.ImagePath" alt="images">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="shop-single-content">
                            <h3>@Model.Name</h3>
                            <ul>
                                <li><span><b>Price:</b>@Model.Price</span></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-half-line"></i></li>
                            </ul>
                            <p>@Model.ShortDescription</p>
                            <ul class="shop-product-list">
                                <li><a asp-controller="shop" asp-action="index"><i class="ri-service-line"></i></a></li>
                                <li><a href="#"><i class="ri-gallery-fill"></i></a></li>
                                <li><a href="#"><i class="ri-arrow-right-line"></i></a></li>
                                <li>
                                    <span>
                                        <div class="pass-quantity"> 
                                            <div class="input-counter">
                                                <span class="minus-btn">
                                                    <i class="ri-subtract-fill"></i> 
                                                </span>
                                                <input type="text" value="1">
                                                <span class="plus-btn">
                                                    <i class="ri-add-line"></i>
                                                </span>
                                            </div>
                                        </div> 
                                    </span>
                                </li>
                            </ul>
                            <a asp-controller="shop" asp-action="index" type="submit" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <!-- End Shop product Area -->

        <!-- Start Tab Area -->
        <div class="tab-area pt-100">
            <div class="container">
                <div class="tab shop-details-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="tabs">
                                <li>
                                    <a href="#">
                                    <div class="dot"></div> Description
                                </a>
                            </li>
                            </ul>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="tab_content">
                                <div class="tabs_item">
                                    <div class="shop-details-tab-content">
                                      @Html.Raw(Model.Description)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Start Tab Area -->

        <!-- Start Collection Area -->
        <div class="collection-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Other Products</h2>
                </div>
                <div class="shop-item"> 
                    <div class="row">
                   @await Component.InvokeAsync("Products", new {size=4})
                    </div>
                </div> 
            </div>
        </div>
        <!-- End Collection Area -->
      