
@{
    ViewData["Title"] = "Index";
}

        <!-- Start Page Banner Area-->
        <div class="page-banner-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-6">
                        <div class="single-page-banner-content">
                            <h1>Shop Products</h1>
                            <p><a asp-controller="Shop" asp-action="Index">Home</a>Shop Products</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="page-banner-img" data-aos="fade-up-left" data-aos-duration="3000" data-aos-once="true">
                            <img src="~/assets/images/page-banner/page-banner-image-1.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area-->

        <!-- Start Collection Area -->
        <div class="collection-area pt-100 pb-70">
            <div class="container">
                <div class="shop-item"> 
                    <div class="row align-items-center">
                        <div class="col-lg-9">
                            <div class="showing">
                                <p>Showing 1–6 Of 9 Results</p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="shop-select">
                                <div class="form-group">
                                    <select>
                                        <option value="">Default Sorting </option>
                                        <option value="">Alpha Goalkeeper</option>
                                        <option value="">Prestige Soccer T-Shirt</option>
                                        <option value="">England Vapor Match</option>
                                        <option value="">Nike Hupervenom Phantom</option>
                                        <option value="">Glove Vapor Match</option>
                                    </select>	
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-md-6">
                            <div class="collection-card"  data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
                                <div class="collection-item shop-img">
                                    <span>Sale</span>
                                    <a href="shop-details.html">
                                        <img src="~/assets/images/collection/collection-img-1.png" alt="images">
                                    </a>
                                    <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                                </div>
                                <ul class="collection-list">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-half-line"></i></li>
                                </ul>
                                <h3><a href="shop-details.html">Alpha Goalkeeper Glove</a></h3>
                                <p><del>£425.00</del>$350.00</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-6">
                            <div class="collection-card"  data-aos="fade-up" data-aos-duration="1200" data-aos-once="true">
                                <div class="collection-item shop-img">
                                    <a href="shop-details.html">
                                        <img src="~/assets/images/collection/collection-img-2.png" alt="images">
                                    </a>
                                    <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                                </div>
                                <ul class="collection-list">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-half-line"></i></li>
                                </ul>
                                <h3><a href="shop-details.html">Prestige Soccer T-Shirt</a></h3>
                                <p><del>£189.99</del>$150.00</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-6">
                            <div class="collection-card"  data-aos="fade-up" data-aos-duration="1800" data-aos-once="true">
                                <div class="collection-item shop-img">
                                    <span>Sale</span>
                                    <a href="shop-details.html">
                                        <img src="~/assets/images/collection/collection-img-3.png" alt="images">
                                    </a>
                                    <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                                </div>
                                <ul class="collection-list">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-half-line"></i></li>
                                </ul>
                                <h3><a href="shop-details.html">England Vapor Match Home</a></h3>
                                <p><del>£425.00</del>$350.00</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-6">
                            <div class="collection-card"  data-aos="fade-up" data-aos-duration="2500" data-aos-once="true">
                                <div class="collection-item shop-img">
                                    <a href="shop-details.html">
                                        <img src="~/assets/images/collection/collection-img-4.png" alt="images">
                                    </a>
                                    <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                                </div>
                                <ul class="collection-list">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-half-line"></i></li>
                                </ul>
                                <h3><a href="shop-details.html">Nike Hupervenom Phantom 3 FG</a></h3>
                                <p><del>£176.00</del>$150.00</p>
                            </div>
                        </div> 
                        <div class="col-lg-3 col-sm-6 col-md-6">
                            <div class="collection-card"  data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
                                <div class="collection-item shop-img">
                                    <span>Sale</span>
                                    <a href="shop-details.html">
                                        <img src="~/assets/images/collection/collection-img-8.png" alt="images">
                                    </a>
                                    <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                                </div>
                                <ul class="collection-list">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-half-line"></i></li>
                                </ul>
                                <h3><a href="shop-details.html">Nike Hupervenom Phantom 2 FG</a></h3>
                                <p><del>£276.00</del>$200.00</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-6">
                            <div class="collection-card"  data-aos="fade-up" data-aos-duration="1200" data-aos-once="true">
                                <div class="collection-item shop-img">
                                    <a href="shop-details.html">
                                        <img src="~/assets/images/collection/collection-img-5.png" alt="images">
                                    </a>
                                    <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                                </div>
                                <ul class="collection-list">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-half-line"></i></li>
                                </ul>
                                <h3><a href="shop-details.html">England Vapor Match Home</a></h3>
                                <p><del>£325.99</del>$275.00</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-6">
                            <div class="collection-card"  data-aos="fade-up" data-aos-duration="1800" data-aos-once="true">
                                <div class="collection-item shop-img">
                                    <span>Sale</span>
                                    <a href="shop-details.html">
                                        <img src="~/assets/images/collection/collection-img-6.png" alt="images">
                                    </a>
                                    <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                                </div>
                                <ul class="collection-list">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-half-line"></i></li>
                                </ul>
                                <h3><a href="shop-details.html">Prestige Soccer T-Shirt</a></h3>
                                <p><del>£289.99</del>$250.00</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-md-6">
                            <div class="collection-card"  data-aos="fade-up" data-aos-duration="2500" data-aos-once="true">
                                <div class="collection-item shop-img">
                                    <a href="shop-details.html">
                                        <img src="~/assets/images/collection/collection-img-7.png" alt="images">
                                    </a>
                                    <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                                </div>
                                <ul class="collection-list">
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-fill"></i></li>
                                    <li><i class="ri-star-half-line"></i></li>
                                </ul>
                                <h3><a href="shop-details.html">Alpha Goalkeeper Glove</a></h3>
                                <p><del>£125.00</del>$100.00</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <!-- End Collection Area -->

