@model IEnumerable<BlogPost>
@{
    ViewData["Title"] = "Index";
    ViewBag.IsHome = true;
}

        <!-- Start Banner Area -->
        <div class="banner-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="single-banner-content" data-aos="fade-right" data-aos-duration="1800" data-aos-once="true">
                            <span>Welcome To Sport News Platform</span>
                            <h1 style="margin-right:0px;">Combined Work Ful Fills Dreams</h1>
                            <p>Here we will present and comment on the latest news in the world of sports.</p>
                            <div class="banner-button">
                                <a asp-controller="Home" asp-action="About" class="default-btn">Explore More<i class="ri-arrow-right-line"></i></a>
                                <a asp-controller="Home" asp-action="Contact" class="default-btn style-1">Contact Us<i class="ri-arrow-right-line right-line"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="banner-three-slider owl-carousel owl-theme owl-loaded owl-drag">                  
                        <div class="owl-stage-outer owl-height" style="height: 730px;"><div class="owl-stage" style="transform: translate3d(-1222px, 0px, 0px); transition: all 0s ease 0s; width: 3666px;"><div class="owl-item cloned" style="width: 611px;"><div class="banner-img aos-init aos-animate" data-aos="fade-up-left" data-aos-duration="2800" data-aos-once="true">
                                <img src="~/assets/images/banner/banner-three-img-1.png" alt="images">
                            </div></div><div class="owl-item cloned" style="width: 611px;"><div class="banner-img aos-init aos-animate" data-aos="fade-up-left" data-aos-duration="2800" data-aos-once="true">
                                <img src="~/assets/images/banner/banner-three-img-2.png" alt="images">
                            </div></div><div class="owl-item active" style="width: 611px;"><div class="banner-img aos-init aos-animate" data-aos="fade-up-left" data-aos-duration="2800" data-aos-once="true">
                                <img src="~/assets/images/banner/banner-three-img-1.png" alt="images">
                            </div></div><div class="owl-item" style="width: 611px;"><div class="banner-img aos-init aos-animate" data-aos="fade-up-left" data-aos-duration="2800" data-aos-once="true">
                                <img src="~/assets/images/banner/banner-three-img-2.png" alt="images">
                            </div></div><div class="owl-item" style="width: 611px;"><div class="banner-img aos-init aos-animate" data-aos="fade-up-left" data-aos-duration="2800" data-aos-once="true">
                                <img src="~/assets/images/banner/banner-three-img-1.png" alt="images">
                            </div></div><div class="owl-item" style="width: 611px;"><div class="banner-img aos-init aos-animate" data-aos="fade-up-left" data-aos-duration="2800" data-aos-once="true">
                                <img src="~/assets/images/banner/banner-three-img-2.png" alt="images">
                            </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
                    </div>
                </div>
            </div>
            <div class="shope-1">
                <img src="~/assets/images/banner/shope-2.png" alt="images">
            </div>
            <div class="shope-2">
                <img src="~/assets/images/banner/shope-2.png" alt="images">
            </div>
            <div class="shope-3">
                <img src="~/assets/images/banner/shope-2.png" alt="images">
            </div> 
            <div class="shope-4">
                <img src="~/assets/images/banner/shope-2.png" alt="images">
            </div> 
        </div>
        <!-- End Banner Area -->
           <div class="premier-league-area pb-100"> 
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="premier-league-card aos-init aos-animate" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                            <p>Premier League</p>
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                    <div class="premier-league-item">
                                        <img src="~/assets/images/premier-league/premier-league-img-1.png" alt="images">
                                        <span>Chelsea</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                    <div class="premier-league-item">
                                        <h2>3<span>2</span></h2>
                                        <p>16-April-22</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                    <div class="premier-league-item">
                                        <img src="~/assets/images/premier-league/premier-league-img-2.png" alt="images">
                                        <span>Prestige</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-4 col-md-6">
                        <div class="premier-league-card aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true">
                            <p>Carling Cup</p>
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                    <div class="premier-league-item">
                                        <img src="~/assets/images/premier-league/premier-league-img-3.png" alt="images">
                                        <span>Girondin</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                    <div class="premier-league-item">
                                        <h2>1<span>1</span></h2>
                                        <p>16-April-22</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                    <div class="premier-league-item">
                                        <img src="~/assets/images/premier-league/premier-league-img-4.png" alt="images" class="league-img">
                                        <span>Redfire</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-4 col-md-6">
                        <div class="premier-league-card aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                            <p>Women League</p>
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                    <div class="premier-league-item">
                                        <img src="~/assets/images/premier-league/premier-league-img-5.png" alt="images">
                                        <span>United</span>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                    <div class="premier-league-item">
                                        <h2>2<span>3</span></h2>
                                        <p>16-April-22</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                                    <div class="premier-league-item">
                                        <img src="~/assets/images/premier-league/premier-league-img-6.png" alt="images">
                                        <span>Intera</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Blog Area -->
        <div class="banner-blog-area pb-70 pt-100">
            <div class="container">
                <div class="section-title">
                    <h2>Our Latest News & Blog</h2>
                </div>
                <div class="row justify-content-center"> 
                   @await Component.InvokeAsync("BlogPosts",new { size=3 })
                </div>
            </div>
        </div>
        <!-- End Blog Area -->

            <!--Start Soka Has Won The Award Area -->
           <div class="soka-has-area pt-100 pb-100">
            <div class="container">
                <div class="section-title">
                    <h2>A number of popular awards</h2>
                </div>
                <div class="soka-has-won-slider owl-carousel owl-theme">
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-1.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2022</h3>
                            <p>Marine Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-2.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2021</h3>
                            <p>Marine Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-1.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2020</h3>
                            <p>Premier League Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-1.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2018</h3>
                            <p>Marine Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-5.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2004</h3>
                            <p>Marine Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-2.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2008</h3>
                            <p>Marine Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-1.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2012</h3>
                            <p>Premier League Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-1.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2027</h3>
                            <p>Marine Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-5.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2004</h3>
                            <p>Marine Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-2.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2008</h3>
                            <p>Marine Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-1.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2012</h3>
                            <p>Premier League Cup</p>
                        </div>
                    </div>
                    <div class="soka-content">
                        <img src="~/assets/images/team-history/team-history-img-1.png" alt="images">
                        <div class="soka-text">
                            <h3>Champion League 2027</h3>
                            <p>Marine Cup</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Soka Has Won The Award Area -->
        <!-- Start Features Area -->
        <div class="features-area pb-70 pt-100">
            <div class="container">
                <div class="section-title">
                    <h2>Explore The Features</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                        <div class="single-features-card">
                            <div class="features-item">
                                <i class="flaticon-badge"></i>
                                <h3>League Cup</h3>
                            </div>
                            <p>There are many variations us
                            lorem ipsum available but has 
                            suffered some form.</p>
                            <a asp-controller="Home" asp-action="About" class="default-btn style-1">Read More<i class="ri-arrow-right-line"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                        <div class="single-features-card">
                            <div class="features-item">
                                <i class="flaticon-championship"></i>
                                <h3>Championship</h3>
                            </div>
                            <p>There are many variations us
                                lorem ipsum available but has 
                                suffered some form.</p>
                            <a asp-controller="Home" asp-action="About" class="default-btn style-1">Read More<i class="ri-arrow-right-line"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1800" data-aos-once="true">
                        <div class="single-features-card">
                            <div class="features-item">
                                <i class="flaticon-clock"></i>
                                <h3>Associations</h3>
                            </div>
                            <p>There are many variations us
                                lorem ipsum available but has 
                                suffered some form.</p>
                            <a asp-controller="Home" asp-action="About" class="default-btn style-1">Read More<i class="ri-arrow-right-line"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="3000" data-aos-once="true">
                        <div class="single-features-card">
                            <div class="features-item">
                                <i class="flaticon-trophy"></i>
                                <h3>Trophies</h3>
                            </div>
                            <p>There are many variations us
                                lorem ipsum available but has 
                                suffered some form.</p>
                            <a asp-controller="Home" asp-action="About" class="default-btn style-1">Read More<i class="ri-arrow-right-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Features Area -->

        <!-- Start Holder Area -->
        <div class="holder-area">
            <div class="container-fluid">
                <div class="holder-bg-item">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="single-holder-content" data-aos="fade-right" data-aos-duration="3000" data-aos-once="true">
                                <h3>We're Holder As Champion In 2022</h3>
                                <p>Ligula eget dolor aenean massa vum sociis natoque penatibus et magnis dis
                                parturient montes  nascetur ridiculus mus.</p>
                                <p>Lorem ipsum dolor sit amet consectetuer adipiscing elit aenean commodo
                                ligula eget dolor aenean massa cum sociis natoque penatibus et magnis dis
                                parturient montes nascetur ridiculus mus.</p>
                                <ul>
                                    <li><i class="ri-check-line"></i></li>
                                    <li>Vivamus at sem lobortis ullamcorper leo cursus feugiat.</li>
                                    <li><i class="ri-check-line"></i></li>
                                    <li>Duis acmi eleifend fringilla justo eget viverra lectus.</li>
                                    <li><i class="ri-check-line"></i></li>
                                    <li>In ac turpis nec lorem blandit bibendum at vel dolor.</li>
                                    <li><i class="ri-check-line"></i></li>
                                    <li>Aliquam molestie nisl ac tortor suscipit vel feugiat sem ornare.</li>
                                    <li><i class="ri-check-line"></i></li>
                                    <li>Quisque iaculis lectus consectetur justo rutrum rhoncus.</li>
                                </ul>
                                <a asp-controller="Home" asp-action="Index" class="default-btn">Read More <i class="ri-arrow-right-line"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="single-holder-image">
                                <img src="~/assets/images/holder/holder-images-3.png" alt="images">
                                <div class="holder-img-1" data-aos="fade-up" data-aos-duration="3000" data-aos-once="true">
                                    <img src="~/assets/images/holder/holder-images-2.png" alt="images">
                                </div>
                                <div class="holder-img-2" data-aos="fade-left" data-aos-duration="3000" data-aos-once="true">
                                    <img src="~/assets/images/holder/holder-images-1.png" alt="images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Holder Area -->

        <!-- Start Gallery Area -->
        <div class="gallery-area pb-70 pt-100">
            <div class="container">
                <div class="section-title">
                    <h2>Our Sport Gallery</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-md-6" data-aos="fade-right" data-aos-duration="300" data-aos-once="true">
                        <div class="single-gallery-item">
                            <div class="gallery-icon">
                                <a data-fancybox="gallery" href="~/assets/images/gallery/gallery-image-1.jpg">
                                    <i class="ri-add-circle-line"></i>
                                </a>
                            </div>
                            <div class="gallery-img"></div>
                            <div class="gallery-text">
                                <h3>Football Is A Sport, It's An Attitude</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                        <div class="single-gallery-item">
                            <div class="gallery-icon">
                                <a data-fancybox="gallery" href="~/assets/images/gallery/gallery-image-2.jpg">
                                    <i class="ri-add-circle-line"></i>
                                </a>
                            </div>
                            <div class="gallery-img gallery-img-1"></div>
                            <div class="gallery-text">
                                <h3>Who Will Be The Best Winner Of League.</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6" data-aos="fade-down" data-aos-duration="1200" data-aos-once="true">
                        <div class="single-gallery-item">
                            <div class="gallery-icon">
                                <a data-fancybox="gallery" href="~/assets/images/gallery/gallery-image-3.jpg">
                                    <i class="ri-add-circle-line"></i>
                                </a>
                            </div>
                            <div class="gallery-img gallery-img-2"></div>
                            <div class="gallery-text">
                                <h3>The Football AdipiscIng Elit Sed.</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-right" data-aos-duration="1500" data-aos-once="true">
                        <div class="single-gallery-item">
                            <div class="gallery-icon">
                                <a data-fancybox="gallery" href="~/assets/images/gallery/gallery-image-4.jpg">
                                    <i class="ri-add-circle-line"></i>
                                </a>
                            </div>
                            <div class="gallery-img gallery-img-3"></div>
                            <div class="gallery-text">
                                <h3>Hard Work Always Result Pays.</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1800" data-aos-once="true">
                        <div class="single-gallery-item">
                            <div class="gallery-icon">
                                <a data-fancybox="gallery" href="~/assets/images/gallery/gallery-image-5.jpg">
                                    <i class="ri-add-circle-line"></i>
                                </a>
                            </div>
                            <div class="gallery-img gallery-img-4"></div>
                            <div class="gallery-text">
                                <h3>Hard Work Always Pays Success Is A Result Of.</h3> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
                        <div class="single-gallery-item">
                            <div class="gallery-icon">
                                <a data-fancybox="gallery" href="~/assets/images/gallery/gallery-image-6.jpg">
                                    <i class="ri-add-circle-line"></i>
                                </a>
                            </div>
                            <div class="gallery-img gallery-img-5"></div>
                            <div class="gallery-text">
                                <h3>Football Is A Sport, It's An</h3> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Gallery Area -->

        <!-- Start Collection Area -->
        <div class="collection-area pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Feature Collection</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
                        <div class="collection-card">
                            <div class="collection-item">
                                <span>Sale</span>
                                <a href="shop-details.html">
                                    <img src="~/assets/images/collection/collection-img-1.png" alt="images">
                                </a>
                                <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                            </div>
                            <ul class="collection-list">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-half-line"></i></li>
                            </ul>
                            <h3><a href="shop-details.html">Alpha Goalkeeper Glove</a></h3>
                            <p><del>£425.00</del>$350</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true">
                        <div class="collection-card">
                            <div class="collection-item">
                                <a href="shop-details.html">
                                    <img src="~/assets/images/collection/collection-img-2.png" alt="images">
                                </a>
                                <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                            </div>
                            <ul class="collection-list">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-half-line"></i></li>
                            </ul>
                            <h3><a href="shop-details.html">Prestige Soccer T-Shirt</a></h3>
                            <p></p>
                            <p><del>£189.99</del>$150</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1800" data-aos-once="true">
                        <div class="collection-card">
                            <div class="collection-item">
                                <span>Sale</span>
                                <a href="shop-details.html">
                                    <img src="~/assets/images/collection/collection-img-3.png" alt="images">
                                </a>
                                <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                            </div>
                            <ul class="collection-list">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-half-line"></i></li>
                            </ul>
                            <h3><a href="shop-details.html">England Vapor Match Home</a></h3>
                            <p><del>£425.00</del>$350</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="2500" data-aos-once="true">
                        <div class="collection-card">
                            <div class="collection-item">
                                <a href="shop-details.html">
                                    <img src="~/assets/images/collection/collection-img-4.png" alt="images">
                                </a>
                                <a href="cart.html" class="default-btn">Add To Cart<i class="ri-arrow-right-line"></i></a>
                            </div>
                            <ul class="collection-list">
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-fill"></i></li>
                                <li><i class="ri-star-half-line"></i></li>
                            </ul>
                            <h3><a href="shop-details.html">Nike Hupervenom Phantom 2 FG</a></h3>
                            <p><del>£176.00</del>$150</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Collection Area -->
         <style>
        .textpart{
            height:120px;
            overflow:hidden;
        }
        .premier-league-area {
    margin-top: -100px;
    position: relative;
    z-index: 1;
}
        </style>
