
@{
    ViewData["Title"] = "Details";
}

     <!-- Start Page Banner Area-->
        <div class="page-banner-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-6">
                        <div class="single-page-banner-content">
                            <h1>Matches</h1>
                            <p><a asp-controller="home" asp-action="index">Home</a>Matches</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="page-banner-img" data-aos="fade-up-left" data-aos-duration="3000" data-aos-once="true">
                            <img src="~/assets/images/page-banner/page-banner-image-1.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area-->

        <!-- Start Champion Area -->
       <div class="about-champion-area pt-100 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-champion-img aos-init aos-animate" data-aos="fade-right" data-aos-duration="2000" data-aos-once="true">
                            <img src="~/assets/images/about/player-details-img.jpg" alt="images">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-champion-content aos-init aos-animate" data-aos="fade-left" data-aos-duration="2000" data-aos-once="true">
                            <h2>We're Holder As Champion In 2022</h2>
                            <p>Ligula eget dolor aenean massa natoque penatibus et magnis dolor
                            parturient montes nascetur ridiculus mus.</p>
                            <p>Lorem ipsum dolor sit amet cum sociis natoque penatibuse magnis dolorei consectetuer adipiscing elit aenean commodo qui
                            ligula eget dolor massa parturient montes nascetur ridiculus mus aenean massa.</p>
                            <ul class="about-champion-list">
                                <li><i class="ri-checkbox-circle-fill"></i>Vivamus at sem lobortis ullamcorper leo cursus feugiat mi.</li>
                                <li><i class="ri-checkbox-circle-fill"></i>Duis ac mi eleifend fringilla justo eget viverra lectus.</li>
                                <li><i class="ri-checkbox-circle-fill"></i>In ac turpis nec lorem blandit bibendum at vel dolor.</li>
                                <li><i class="ri-checkbox-circle-fill"></i>Aliquam molestie nisl ac tortor suscipit vel feugiat sem ornare.</li>
                                <li><i class="ri-checkbox-circle-fill"></i>Quisque iaculis lectus consectetur justo rutrum rhoncus.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Champion Area -->

        <!-- Start Premier League -->
        <div class="team-details-area"> 
            <div class="container">
                <div class="section-title">
                    <h2>Results</h2>
                </div>
                <div class="premier-league-card"  data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                    <p>Premier League</p>
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                            <div class="premier-league-item team-detail">
                                <img src="~/assets/images/premier-league/premier-league-img-1.png" alt="images">
                                <span>Chelsea</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                            <div class="premier-league-item teamdetail-text">
                                <h2>3<span>2</span></h2>
                                <p>16-April-22</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                            <div class="premier-league-item teamlist-detail">
                                <img src="~/assets/images/premier-league/premier-league-img-2.png" alt="images">
                                <span>Prestige</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="premier-league-card" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true">
                    <p>Carling Cup</p>
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                            <div class="premier-league-item team-detail">
                                <img src="~/assets/images/premier-league/premier-league-img-3.png" alt="images">
                                <span>Girondin</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                            <div class="premier-league-item teamdetail-text">
                                <h2>1<span>1</span></h2>
                                <p>16-April-22</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                            <div class="premier-league-item teamlist-detail">
                                <img src="~/assets/images/premier-league/premier-league-img-4.png" alt="images" class="league-img">
                                <span>Redfire</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="premier-league-card" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                    <p>Women League</p>
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                            <div class="premier-league-item team-detail">
                                <img src="~/assets/images/premier-league/premier-league-img-5.png" alt="images">
                                <span>United</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                            <div class="premier-league-item teamdetail-text">
                                <h2>2<span>3</span></h2>
                                <p>16-April-22</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-4 col-sm-4 col-md-4">
                            <div class="premier-league-item teamlist-detail">
                                <img src="~/assets/images/premier-league/premier-league-img-6.png" alt="images">
                                <span>Intera</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Premier League -->
