
@{
    ViewData["Title"] = "Index";
}

   <!-- Start Navbar Area --> 
        <div class="navbar-area">      
            <!-- Menu For Mobile Device -->
            <div class="container"> 
                <div class="mobile-nav"> 
                    <div class="logo">
                        <a href="index.html"> 
                            <img src="~/assets/images/logo-two.png" class="main-logo" alt="Images">  
                            <img src="~/assets/images/logo-img.png" class="optional-logo" alt="Images">   
                        </a> 
                    </div>
                </div>  
            </div> 

            <!-- Menu For Desktop Device -->
            <div class="main-nav main-two">         
                <div class="container-fluid">    
                    <nav class="navbar navbar-expand-md navbar-light">   

                        <a href="index.html">   
                            <img src="~/assets/images/logo-two.png" class="main-logo" alt="Images">  
                            <img src="~/assets/images/logo-img.png" class="optional-logo" alt="Images">     
                        </a>   

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent"> 
                            <ul class="navbar-nav m-auto">  
                                <li class="nav-item">  
                                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                                </li> 

                                <li class="nav-item">
                                    <a asp-controller="Home" asp-action="About" class="nav-link">About Us</a>         
                                </li>  
                                
                                <li class="nav-item"> 

                                    <a href="#" class="nav-link dropdown-toggle">Pages</a>   
                                    
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a asp-controller="Pages" asp-action="Index" class="nav-link active">Player List</a>     
                                        </li> 
                                        <li class="nav-item">
                                            <a asp-controller="Pages" asp-action="Details" class="nav-link">Player Details</a>     
                                        </li> 
                                    </ul>

                                </li>  

                                <li class="nav-item"> 
                                    <a href="#" class="nav-link dropdown-toggle">Shop</a>     
                                    
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a asp-controller="Shop" asp-action="Index" class="nav-link">Shop</a>     
                                        </li> 
                                        <li class="nav-item">
                                            <a asp-controller="Shop" asp-action="Details" class="nav-link">Shop Details</a>     
                                        </li> 
                                        <li class="nav-item">
                                            <a asp-controller="Shop" asp-action="Cart" class="nav-link">Cart</a>     
                                        </li> 
                                    </ul>

                                </li> 

                                <li class="nav-item"> 

                                    <a href="#" class="nav-link dropdown-toggle">Blog</a>   
                                    
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a asp-controller="Blog" asp-action="Index" class="nav-link">Blog</a>     
                                        </li> 
                                        <li class="nav-item">
                                            <a asp-controller="Blog" asp-action="Details" class="nav-link">Blog Details</a>     
                                        </li> 
                                    </ul>

                                </li>     

                                <li class="nav-item"> 
                                    <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>      
                                </li> 
                            </ul> 


                            <div class="others-option-vg d-flex align-items-center"> 
                                <div class="single-option-item">

                                    <div class="option-item">
                                        <form class="search-form">
                                            <input type="text" class="form-control" placeholder="Searching Here" name="search">
                                            <button class="search-button" type="submit">
                                                <i class="ri-search-line"></i>
                                            </button>
                                        </form>
                                    </div>

                                    <div class="cart-icon">
                                        <a asp-controller="Shop" asp-action="Cart">
                                            <img src="~/assets/images/navber-card-img.png" alt="images">
                                        </a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </nav> 
                </div>
            </div>     

            <div class="others-option-for-responsive"> 
                <div class="container">
                    <div class="dot-menu">
                        <div class="inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container">
                        <div class="option-inner">
                            <div class="others-options justify-content-center d-flex align-items-center">
                                <div class="single-option-item">

                                    <div class="option-item">
                                        <form class="search-form">
                                            <input type="text" class="form-control" placeholder="Searching Here" name="search">
                                            <button class="search-button" type="submit">
                                                <i class="ri-search-line"></i>
                                            </button>
                                        </form>
                                    </div>

                                    <div class="cart-icon">
                                        <a asp-controller="Shop" asp-action="Cart">
                                            <img src="~/assets/images/navber-card-img.png" alt="images">
                                        </a>
                                    </div>

                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div> 
        <!-- End  Navbar Area -->

        <!-- Start Page Banner Area-->
        <div class="page-banner-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-md-6">
                        <div class="single-page-banner-content">
                            <h1>Player List</h1>
                            <p><a asp-controller="Home" asp-action="Index">Home</a>Player List</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="page-banner-img" data-aos="fade-up-left" data-aos-duration="3000" data-aos-once="true">
                            <img src="~/assets/images/page-banner/page-banner-image-1.png" alt="images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area-->

        <!-- Start Players Area --> 
        <div class="player-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <h2>Expert Players</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/player/player-three-img-1.png" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Mikayla Bechtelar</a></h3>
                                <p>Goal Keeper</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/player/player-three-img-2.png" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Millie Luettgen</a></h3>
                                <p>Center Back</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/player/player-three-img-3.png" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Ransom Mertz</a></h3>
                                <p>Goal Keeper</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/player/player-three-img-4.png" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Verona Wisozk</a></h3>
                                <p> Middle Forward</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/team/team-img-1.jpg" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Ettie Hettinger</a></h3>
                                <p>Defender</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/team/team-img-2.jpg" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Zachary Herzog</a></h3>
                                <p>Midfielder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/team/team-img-3.jpg" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Clint Grady</a></h3>
                                <p>Forwarder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/team/team-img-4.jpg" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Colt Watsica</a></h3>
                                <p>Middle</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/team/team-img-5.jpg" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Mikayla Bechtelar</a></h3>
                                <p>Goal Keeper</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/team/team-img-6.jpg" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Millie Luettgen</a></h3>
                                <p>Center Back</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/team/team-img-7.jpg" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Ransom Mertz</a></h3>
                                <p>Goal Keeper</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-md-6" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
                        <div class="single-player-card bg-color-1">
                            <div class="player-img">
                                <a href="team-details.html"><img src="~/assets/images/player/player-three-img-4.png" alt="images"></a>
                            </div>
                            <ul class="plus-icon">
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank"> 
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>   
                                <li class="player-icon-top">
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>    
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>  
                                </li> 
                            </ul>
                            <div class="player-text">
                                <h3><a href="team-details.html">Verona Wisozk</a></h3>
                                <p> Middle Forward</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Players Area -->

